<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://cdn.glitch.global/3fefe35b-bbb3-4e52-b0f1-f94d09bc62e4/favicon.ico?v=1709751697719" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Shared Storage WebAssembly Demo: Greetings</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    
    <!-- this is the start of content -->
    <h2>
      Welcome
    </h2>
    <h3>
      Click a button above to get started.
    </h3>
    <img src="https://cdn.glitch.global/3fefe35b-bbb3-4e52-b0f1-f94d09bc62e4/cat-greetings.webp?v=1710214188606" alt="Fluffy blond cat greeting human"/>
    <script src="/dark-mode"></script>
  </body>
</html>