<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://cdn.glitch.global/3fefe35b-bbb3-4e52-b0f1-f94d09bc62e4/favicon.ico?v=1709751697719" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Shared Storage Demo</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/inner-style.css" />   
  </head>
  <body>
    
    <!-- this is the start of content -->
    <h1>
       Result: {{index}}
    </h1>
    
    <script src="/dark-mode"></script>
  </body>
</html>